---
http_interactions:
- request:
    method: post
    uri: https://dashboard.fiskaly.com/api/v0/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.002'
      Response-Time:
      - '0.002'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":32526,"access_token_expires_at":1645636724,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":118926,"refresh_token_expires_at":1645723124}'
  recorded_at: Wed, 23 Feb 2022 08:16:38 GMT
recorded_with: VCR 6.0.0
