---
http_interactions:
- request:
    method: post
    uri: https://dashboard.fiskaly.com/api/v0/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.001'
      Response-Time:
      - '0.001'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":32524,"access_token_expires_at":1645636724,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":118924,"refresh_token_expires_at":1645723124}'
  recorded_at: Wed, 23 Feb 2022 08:16:40 GMT
- request:
    method: post
    uri: https://dashboard.fiskaly.com/api/v0/organizations/<RSPEC_FISKALY_ORGANIZATION_ID>/api-keys
    body:
      encoding: UTF-8
      string: '{"name":"name","status":"enabled","managed_by_organization_id":"<RSPEC_FISKALY_MANAGED_BY_ORGANIZATION_ID>","metadata":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.456'
      Response-Time:
      - '0.456'
    body:
      encoding: UTF-8
      string: '{"_id":"d859ed14-7ed4-42aa-9edc-297e94e05528","_type":"MANAGED_API_KEY","_envs":["TEST"],"key":"<Api
        Key>","secret":"<Api Secret>","created_at":1645604200,"created_by_user":"4dda7805-f7df-40d9-bb39-4da630934d90","name":"name","status":"enabled","metadata":{},"managed_by_organization_id":"<RSPEC_FISKALY_MANAGED_BY_ORGANIZATION_ID>"}'
  recorded_at: Wed, 23 Feb 2022 08:16:40 GMT
recorded_with: VCR 6.0.0
