---
http_interactions:
- request:
    method: post
    uri: https://dashboard.fiskaly.com/api/v0/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.001'
      Response-Time:
      - '0.001'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":32519,"access_token_expires_at":1645636724,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":118919,"refresh_token_expires_at":1645723124}'
  recorded_at: Wed, 23 Feb 2022 08:16:44 GMT
- request:
    method: post
    uri: https://dashboard.fiskaly.com/api/v0/organizations
    body:
      encoding: UTF-8
      string: '{"name":"somename","address_line1":"some_address_line1","zip":"some_zip","town":"some_town","country_code":"ITA","managed_by_organization_id":"<RSPEC_FISKALY_INVALID_MANAGED_BY_ORGANIZATION_ID>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.019'
      Response-Time:
      - '0.019'
    body:
      encoding: UTF-8
      string: '{"status_code":404,"error":"Not Found","message":"Not Found"}'
  recorded_at: Wed, 23 Feb 2022 08:16:44 GMT
recorded_with: VCR 6.0.0
