---
http_interactions:
- request:
    method: post
    uri: https://dsfinvk.fiskaly.com/api/v1/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_INVALID_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.016'
      Response-Time:
      - '0.016'
    body:
      encoding: UTF-8
      string: '{"message":"Invalid credentials","status_code":401,"error":"Unauthorized"}'
  recorded_at: Mon, 21 Feb 2022 11:52:57 GMT
recorded_with: VCR 6.0.0
