---
http_interactions:
- request:
    method: put
    uri: https://dsfinvk.fiskaly.com/api/v1/cash_registers/some_client_id
    body:
      encoding: UTF-8
      string: '{"cash_register_type":{"type":"MASTER","tss_id":"some_tss_id"},"brand":"epson","model":"rs232","software":{"brand":"Epson"},"base_currency_code":"EUR"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.001'
      Response-Time:
      - '0.001'
    body:
      encoding: UTF-8
      string: '{"status_code":401,"error":"Unauthorized","message":"could not parse
        jwt: ''some_invalid_token''"}'
  recorded_at: Fri, 25 Feb 2022 14:52:12 GMT
recorded_with: VCR 6.0.0
