---
http_interactions:
- request:
    method: post
    uri: https://dsfinvk.fiskaly.com/api/v1/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.003'
      Response-Time:
      - '0.003'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":76246,"access_token_expires_at":1645710638,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":162646,"refresh_token_expires_at":1645797038}'
  recorded_at: Wed, 23 Feb 2022 16:39:52 GMT
- request:
    method: put
    uri: https://dsfinvk.fiskaly.com/api/v1/exports/44dd4d44-d4d4-44d4-4dd4-4ddd4d4ddd44
    body:
      encoding: UTF-8
      string: '{"start_date":1645547992,"end_date":1645634392}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '1.115'
      Response-Time:
      - '1.115'
    body:
      encoding: UTF-8
      string: '{"state":"PENDING","time_request":1645634393,"time_expiration":1648053592,"_type":"EXPORT","_id":"44dd4d44-d4d4-44d4-4dd4-4ddd4d4ddd44","_env":"TEST","_version":"1.1.1","sign_api_version":2}'
  recorded_at: Wed, 23 Feb 2022 16:39:53 GMT
recorded_with: VCR 6.0.0
