---
http_interactions:
- request:
    method: post
    uri: https://dsfinvk.fiskaly.com/api/v1/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.002'
      Response-Time:
      - '0.002'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":15423,"access_token_expires_at":1646149748,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":101823,"refresh_token_expires_at":1646236148}'
  recorded_at: Tue, 01 Mar 2022 11:32:04 GMT
- request:
    method: get
    uri: https://dsfinvk.fiskaly.com/api/v1/exports/some_not_existing_export_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.002'
      Response-Time:
      - '0.002'
    body:
      encoding: UTF-8
      string: '{"status_code":400,"error":"Bad Request","code":"E_FAILED_SCHEMA_VALIDATION","message":"params.export_id
        should match format \"uuid\""}'
  recorded_at: Tue, 01 Mar 2022 11:32:04 GMT
recorded_with: VCR 6.0.0
