---
http_interactions:
- request:
    method: post
    uri: https://dsfinvk.fiskaly.com/api/v1/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.003'
      Response-Time:
      - '0.003'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":73588,"access_token_expires_at":1645710638,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":159988,"refresh_token_expires_at":1645797038}'
  recorded_at: Wed, 23 Feb 2022 17:24:09 GMT
- request:
    method: put
    uri: https://dsfinvk.fiskaly.com/api/v1/exports/some-invalid-id
    body:
      encoding: UTF-8
      string: '{"start_date":1645550649,"end_date":1645637049}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.003'
      Response-Time:
      - '0.003'
    body:
      encoding: UTF-8
      string: '{"code":"E_FAILED_SCHEMA_VALIDATION","message":"params.export_id should
        match format \"uuid\"","status_code":400,"error":"Bad Request"}'
  recorded_at: Wed, 23 Feb 2022 17:24:09 GMT
recorded_with: VCR 6.0.0
