---
http_interactions:
- request:
    method: post
    uri: https://dsfinvk.fiskaly.com/api/v1/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.003'
      Response-Time:
      - '0.003'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":85673,"access_token_expires_at":1646149748,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":172073,"refresh_token_expires_at":1646236148}'
  recorded_at: Mon, 28 Feb 2022 16:01:15 GMT
- request:
    method: get
    uri: https://dsfinvk.fiskaly.com/api/v1/exports/some_dsfinvk_export_id/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
      X-Response-Time:
      - '0.299'
      Response-Time:
      - '0.299'
    body:
      encoding: ASCII-8BIT
      string: '{"BINARY DATA": true}'
  recorded_at: Mon, 28 Feb 2022 16:01:15 GMT
recorded_with: VCR 6.0.0
