---
http_interactions:
- request:
    method: post
    uri: https://dsfinvk.fiskaly.com/api/v1/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.002'
      Response-Time:
      - '0.002'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":15423,"access_token_expires_at":1646149748,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":101823,"refresh_token_expires_at":1646236148}'
  recorded_at: Tue, 01 Mar 2022 11:32:05 GMT
- request:
    method: get
    uri: https://dsfinvk.fiskaly.com/api/v1/exports/some_dsfinvk_export_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.147'
      Response-Time:
      - '0.147'
    body:
      encoding: UTF-8
      string: '{"state":"COMPLETED","time_request":1646063135,"time_start":1646063136,"time_completed":1646063137,"time_expiration":1648482334,"cash_point_closings":["5ae61c3f-b562-45a5-a479-ca82efb7b839"],"_type":"EXPORT","_id":"some_dsfinvk_export_id","_env":"TEST","_version":"1.2.0","sign_api_version":1}'
  recorded_at: Tue, 01 Mar 2022 11:32:05 GMT
recorded_with: VCR 6.0.0
