---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id/admin/logout
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - '0.001'
      Response-Time:
      - '0.001'
    body:
      encoding: UTF-8
      string: '{"code":"E_PARSER","message":"can''t parse TSS ID: invalid UUID length:
        11 (some_tss_id)","status_code":400,"error":"Bad Request"}'
  recorded_at: Wed, 23 Feb 2022 08:16:39 GMT
recorded_with: VCR 6.0.0
