---
http_interactions:
- request:
    method: get
    uri: https://dashboard.fiskaly.com/api/v0/organizations/some_organization_id/api-keys?status=enabled
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.002'
      Response-Time:
      - '0.002'
    body:
      encoding: UTF-8
      string: '{"message":"could not parse jwt: ''some_wrong_fiskaly_token''","status_code":401,"error":"Unauthorized"}'
  recorded_at: Mon, 28 Mar 2022 14:20:12 GMT
recorded_with: VCR 6.0.0
