---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_INVALID_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.043'
      X-Response-Time:
      - '0.043'
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized","status_code":401,"error":"Unauthorized"}'
  recorded_at: Tue, 28 Dec 2021 14:39:56 GMT
recorded_with: VCR 2.9.3
