---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.006'
      X-Response-Time:
      - '0.006'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":72145,"access_token_expires_at":1640774541,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":158545,"refresh_token_expires_at":1640860941}'
  recorded_at: Tue, 28 Dec 2021 14:39:56 GMT
recorded_with: VCR 2.9.3
