---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.003'
      X-Response-Time:
      - '0.003'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":62857,"access_token_expires_at":1648540414,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":149257,"refresh_token_expires_at":1648626814}'
  recorded_at: Mon, 28 Mar 2022 14:25:56 GMT
- request:
    method: get
    uri: https://dsfinvk.fiskaly.com/api/v1/cash_registers/some_client_id
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.006'
      Response-Time:
      - '0.006'
    body:
      encoding: UTF-8
      string: '{"cash_register_type":"MASTER","client_id":"some_client_id","revision":0,"tss_id":"some_tss_id","brand":"cash_register_brand","model":"cash_register_model","software":{"brand":"cash_register_software_brand"},"base_currency_code":"EUR","processing_flags":{"UmsatzsteuerNichtErmittelbar":false},"time_creation":1647860458,"time_update":1647860458,"_type":"CASH_REGISTER","_env":"TEST","_version":"1.2.0","sign_api_version":2}'
  recorded_at: Mon, 28 Mar 2022 14:25:56 GMT
recorded_with: VCR 6.0.0
