---
http_interactions:
- request:
    method: get
    uri: https://dsfinvk.fiskaly.com/api/v1/cash_registers/some_client_id
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.001'
      Response-Time:
      - '0.001'
    body:
      encoding: UTF-8
      string: '{"status_code":401,"error":"Unauthorized","message":"could not parse
        jwt: ''some_wrong_fiskaly_token''"}'
  recorded_at: Mon, 28 Mar 2022 14:26:42 GMT
recorded_with: VCR 6.0.0
