---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.002'
      X-Response-Time:
      - '0.002'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":64008,"access_token_expires_at":1648540414,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":150408,"refresh_token_expires_at":1648626814}'
  recorded_at: Mon, 28 Mar 2022 14:06:46 GMT
- request:
    method: get
    uri: https://dashboard.fiskaly.com/api/v0/organizations/some_organization_id
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '0.010'
      Response-Time:
      - '0.010'
    body:
      encoding: UTF-8
      string: '{"_id":"<RSPEC_FISKALY_ORGANIZATION_ID>","_type":"MANAGED_ORGANIZATION","_envs":["TEST"],"name":"Test
        Venue DE new","address_line1":"Via Vincenzo Monti, 10, 20145 Milano, Italia","zip":"20162","town":"Milano","state":"Germany","country_code":"DEU","tax_number":"IT123456789","managed_by_organization_id":"4536272f-3e56-4871-b54a-1bb158be739f","created_by_user":"ae81042d-a818-47f0-861b-73cd2298605d"}'
  recorded_at: Mon, 28 Mar 2022 14:06:46 GMT
recorded_with: VCR 6.0.0
