---
http_interactions:
- request:
    method: get
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.004'
      X-Response-Time:
      - '0.004'
    body:
      encoding: UTF-8
      string: '{"status_code":401,"error":"Unauthorized","message":"could not parse
        jwt: ''some_wrong_fiskaly_token''"}'
  recorded_at: Tue, 05 Apr 2022 13:07:03 GMT
recorded_with: VCR 6.0.0
