---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.002'
      X-Response-Time:
      - '0.002'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":86355,"access_token_expires_at":1649147384,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":172755,"refresh_token_expires_at":1649233784}'
  recorded_at: Mon, 04 Apr 2022 08:30:28 GMT
- request:
    method: put
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_invalid_tss_id
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.003'
      X-Response-Time:
      - '0.003'
    body:
      encoding: UTF-8
      string: '{"status_code":400,"error":"Bad Request","code":"E_FAILED_SCHEMA_VALIDATION","message":"params.tss_id
        should match format \"uuid\""}'
  recorded_at: Mon, 04 Apr 2022 08:30:28 GMT
recorded_with: VCR 6.0.0
