---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.003'
      X-Response-Time:
      - '0.003'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":60763,"access_token_expires_at":1649147384,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":147163,"refresh_token_expires_at":1649233784}'
  recorded_at: Mon, 04 Apr 2022 15:37:00 GMT
- request:
    method: patch
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id/admin
    body:
      encoding: UTF-8
      string: '{"new_admin_pin":"123456","admin_puk":"<Tss admin puk>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.092'
      X-Response-Time:
      - '0.092'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 04 Apr 2022 15:37:00 GMT
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id/admin/auth
    body:
      encoding: UTF-8
      string: '{"admin_pin":"123456"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.079'
      X-Response-Time:
      - '0.079'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 04 Apr 2022 15:37:01 GMT
- request:
    method: patch
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id
    body:
      encoding: UTF-8
      string: '{"state":"INITIALIZED"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.019'
      X-Response-Time:
      - '0.019'
    body:
      encoding: UTF-8
      string: '{"description":"fiskaly sign cloud-TSE (some_tss_id)","state":"INITIALIZED","certificate":"<Certificate>","serial_number":"5d50ce8b39fe936bb933edb124cab403f79160b5926c1898d647acd730566beb","public_key":"BFuk5xFreVDfQZkb7DI+OSHuqBhltss9qftGoYB5Im48Qhtn3gu+wZm9DvH5jf73n4hmXm54qToU5cdtsTmQmAQ=","signature_counter":"44","signature_algorithm":"ecdsa-plain-SHA256","signature_timestamp_format":"unixTime","transaction_counter":"1","transaction_data_encoding":"UTF-8","number_registered_clients":1,"max_number_registered_clients":199,"number_active_transactions":1,"max_number_active_transactions":2000,"supported_update_variants":"SIGNED","metadata":{},"_id":"some_tss_id","_type":"TSS","_env":"TEST","_version":"2.0.11","time_creation":1649067504,"time_uninit":1649067507,"time_init":1649083246}'
  recorded_at: Mon, 04 Apr 2022 15:37:01 GMT
- request:
    method: put
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id/export/some_tss_export_id
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.026'
      X-Response-Time:
      - '0.026'
    body:
      encoding: UTF-8
      string: '{"state":"PENDING","time_request":1649086621,"metadata":{},"tss_id":"some_tss_id","_type":"EXPORT","_id":"775d44be-8372-4d01-861a-095d975bcc84","_env":"TEST","_version":"2.0.11"}'
  recorded_at: Mon, 04 Apr 2022 15:37:01 GMT
recorded_with: VCR 6.0.0
