---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.003'
      X-Response-Time:
      - '0.003'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":70473,"access_token_expires_at":1649233741,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":156873,"refresh_token_expires_at":1649320141}'
  recorded_at: Tue, 05 Apr 2022 12:54:27 GMT
- request:
    method: get
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id/export/some_tss_export_id/file
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-tar
      Response-Time:
      - '0.101'
      X-Response-Time:
      - '0.101'
    body:
      encoding: ASCII-8BIT
      string: '{"BINARY DATA": true}'
  recorded_at: Tue, 05 Apr 2022 12:54:27 GMT
recorded_with: VCR 6.0.0
