---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.003'
      X-Response-Time:
      - '0.003'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":71832,"access_token_expires_at":1649233741,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":158232,"refresh_token_expires_at":1649320141}'
  recorded_at: Tue, 05 Apr 2022 12:31:48 GMT
- request:
    method: get
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id/export/some_tss_export_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.007'
      X-Response-Time:
      - '0.007'
    body:
      encoding: UTF-8
      string: '{"state":"COMPLETED","time_request":1649161709,"time_start":1649161709,"time_end":1649161709,"metadata":{},"tss_id":"some_tss_id","_type":"EXPORT","_id":"some_tss_export_id","_env":"TEST","_version":"2.0.11"}'
  recorded_at: Tue, 05 Apr 2022 12:31:48 GMT
recorded_with: VCR 6.0.0
