---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.005'
      X-Response-Time:
      - '0.005'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":70657,"access_token_expires_at":1649147384,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":157057,"refresh_token_expires_at":1649233784}'
  recorded_at: Mon, 04 Apr 2022 12:52:06 GMT
- request:
    method: put
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/22bb2b22-0000-0000-0000-2bbb2b2bbb22/client/<RSPEC_FISKALY_TSS_CLIENT_ID>
    body:
      encoding: UTF-8
      string: '{"serial_number":"<RSPEC_FISKALY_TSS_CLIENT_SERIAL_NUMBER>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.005'
      X-Response-Time:
      - '0.005'
    body:
      encoding: UTF-8
      string: '{"code":"E_TSS_NOT_FOUND","message":"TSS not found","status_code":404,"error":"Not
        Found"}'
  recorded_at: Mon, 04 Apr 2022 12:52:07 GMT
recorded_with: VCR 6.0.0
