---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.003'
      X-Response-Time:
      - '0.003'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":64138,"access_token_expires_at":1649147384,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":150538,"refresh_token_expires_at":1649233784}'
  recorded_at: Mon, 04 Apr 2022 14:40:46 GMT
- request:
    method: patch
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id/admin
    body:
      encoding: UTF-8
      string: '{"new_admin_pin":"123456","admin_puk":"<Tss admin puk>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.119'
      X-Response-Time:
      - '0.119'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 04 Apr 2022 14:40:46 GMT
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id/admin/auth
    body:
      encoding: UTF-8
      string: '{"admin_pin":"123456"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.099'
      X-Response-Time:
      - '0.099'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 04 Apr 2022 14:40:46 GMT
- request:
    method: patch
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id
    body:
      encoding: UTF-8
      string: '{"state":"INITIALIZED"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.134'
      X-Response-Time:
      - '0.134'
    body:
      encoding: UTF-8
      string: '{"_id":"some_tss_id","description":"fiskaly sign cloud-TSE (some_tss_id)","state":"INITIALIZED","time_creation":1649067504,"time_uninit":1649067507,"time_init":1649083246,"certificate":"<Certificate>","serial_number":"5d50ce8b39fe936bb933edb124cab403f79160b5926c1898d647acd730566beb","public_key":"BFuk5xFreVDfQZkb7DI+OSHuqBhltss9qftGoYB5Im48Qhtn3gu+wZm9DvH5jf73n4hmXm54qToU5cdtsTmQmAQ=","signature_counter":"41","signature_algorithm":"ecdsa-plain-SHA256","signature_timestamp_format":"unixTime","transaction_data_encoding":"UTF-8","number_registered_clients":1,"max_number_registered_clients":199,"number_active_transactions":0,"max_number_active_transactions":2000,"supported_update_variants":"SIGNED","_type":"TSS","_env":"TEST","_version":"2.0.11"}'
  recorded_at: Mon, 04 Apr 2022 14:40:46 GMT
- request:
    method: put
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id/client/<RSPEC_FISKALY_TSS_CLIENT_ID>
    body:
      encoding: UTF-8
      string: '{"serial_number":"12345"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.012'
      X-Response-Time:
      - '0.012'
    body:
      encoding: UTF-8
      string: '{"code":"E_CLIENT_CONFLICT","message":"Client or pending request for
        this client_id already exists in the system (client_id must be unique system-wide)","status_code":409,"error":"Conflict"}'
  recorded_at: Mon, 04 Apr 2022 14:40:47 GMT
- request:
    method: put
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id/tx/<RSPEC_FISKALY_TX_ID>?tx_revision=1
    body:
      encoding: UTF-8
      string: '{"state":"ACTIVE","client_id":"<RSPEC_FISKALY_TSS_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.098'
      X-Response-Time:
      - '0.098'
    body:
      encoding: UTF-8
      string: '{"schema":{},"state":"ACTIVE","tss_id":"some_tss_id","tss_serial_number":"5d50ce8b39fe936bb933edb124cab403f79160b5926c1898d647acd730566beb","client_id":"<RSPEC_FISKALY_TSS_CLIENT_ID>","client_serial_number":"<RSPEC_FISKALY_TSS_CLIENT_SERIAL_NUMBER>","revision":1,"latest_revision":1,"number":1,"time_start":1649083246,"_id":"<RSPEC_FISKALY_TX_ID>","_type":"TRANSACTION","_env":"TEST","_version":"2.0.11","signature":{"value":"Oypri12zBkamw2IxOS2+FtiP1OE/YwmvZqatBd/ov7nRfXe0ky6YMglRhW6CqiTYJqog+5ny5dsMywIO03n8uw==","algorithm":"ecdsa-plain-SHA256","counter":42,"public_key":"BFuk5xFreVDfQZkb7DI+OSHuqBhltss9qftGoYB5Im48Qhtn3gu+wZm9DvH5jf73n4hmXm54qToU5cdtsTmQmAQ="},"log":{"operation":"Start","timestamp":1649083246,"timestamp_format":"unixTime"}}'
  recorded_at: Mon, 04 Apr 2022 14:40:47 GMT
recorded_with: VCR 6.0.0
