---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.003'
      X-Response-Time:
      - '0.003'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":71423,"access_token_expires_at":1649233741,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":157823,"refresh_token_expires_at":1649320141}'
  recorded_at: Tue, 05 Apr 2022 12:38:37 GMT
- request:
    method: get
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id/export/00000000-0000-0000-0000-0000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.004'
      X-Response-Time:
      - '0.004'
    body:
      encoding: UTF-8
      string: '{"status_code":400,"error":"Bad Request","code":"E_FAILED_SCHEMA_VALIDATION","message":"params.export_id
        should match format \"uuid\""}'
  recorded_at: Tue, 05 Apr 2022 12:38:37 GMT
recorded_with: VCR 6.0.0
