---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.002'
      X-Response-Time:
      - '0.002'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":82887,"access_token_expires_at":1649147384,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":169287,"refresh_token_expires_at":1649233784}'
  recorded_at: Mon, 04 Apr 2022 09:28:16 GMT
- request:
    method: patch
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_invalid_tss_id
    body:
      encoding: UTF-8
      string: '{"state":"UNINITIALIZED"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - '0.001'
      Response-Time:
      - '0.001'
    body:
      encoding: UTF-8
      string: '{"code":"E_PARSER","message":"can''t parse TSS ID: invalid UUID length:
        19 (some_invalid_tss_id)","status_code":400,"error":"Bad Request"}'
  recorded_at: Mon, 04 Apr 2022 09:28:17 GMT
recorded_with: VCR 6.0.0
