---
http_interactions:
- request:
    method: post
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"api_key":"<RSPEC_FISKALY_API_KEY>","api_secret":"<RSPEC_FISKALY_API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '0.002'
      X-Response-Time:
      - '0.002'
    body:
      encoding: UTF-8
      string: '{"access_token":"<Access Token>","access_token_claims":{"env":"TEST","organization_id":"<Organization
        ID>"},"access_token_expires_in":83043,"access_token_expires_at":1649147384,"refresh_token":"<Refresh
        Token>","refresh_token_expires_in":169443,"refresh_token_expires_at":1649233784}'
  recorded_at: Mon, 04 Apr 2022 09:25:41 GMT
- request:
    method: patch
    uri: https://kassensichv-middleware.fiskaly.com/api/v2/tss/some_tss_id
    body:
      encoding: UTF-8
      string: '{"state":"UNINITIALIZED"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '2.916'
      X-Response-Time:
      - '2.916'
    body:
      encoding: UTF-8
      string: '{"_id":"some_tss_id","state":"UNINITIALIZED","time_creation":1649060985,"time_uninit":1649064344,"certificate":"<Certificate>","serial_number":"fd9b18424fb272ce26ad6f480b46bb294c42d4ee7f14fd02b3a83da92a71cb91","public_key":"BPcfUuifqqW4J8CwOH6oUEFk14Yvad1DD4HuRpGAaOQkevzD+2dq+2aiQGRG/IsPEEpLdpVZTTaUPoPn1syntsE=","signature_counter":"25","signature_algorithm":"ecdsa-plain-SHA256","signature_timestamp_format":"unixTime","transaction_data_encoding":"UTF-8","number_registered_clients":0,"max_number_registered_clients":199,"number_active_transactions":0,"max_number_active_transactions":2000,"supported_update_variants":"SIGNED","_type":"TSS","_env":"TEST","_version":"2.0.11"}'
  recorded_at: Mon, 04 Apr 2022 09:25:44 GMT
recorded_with: VCR 6.0.0
